* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    'navbar navbar navbar'
    'main main main'
    'footer footer footer';
  gap: 10px;
}

/* Navbar */
.navbar {
  grid-area: navbar;
}

/* Main page */
.main {
  margin: 0 10px;
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 10px;
  grid-template-areas:
  'about guests'
  'form guests'
}

.admin {
  margin: 0 10px;
  grid-area: main;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 1fr;
  gap: 10px;
  grid-template-areas:
  'about guests'
}

.about {
  padding: 2rem;
  border: 1px solid grey;
}
.form {
  grid-area: form;
  border: 1px solid grey;
  padding: 2rem;
}
.guests {
  border: 1px solid grey;
  padding: 2rem;
  grid-area: guests;
}

/* Footer */
.footer {
  grid-area: footer;
}